src/main/resources/xsd/common/consumodecombustibles/consumodecombustibles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (x64) (http://www.altova.com) by SAT (SAT) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:consumodecombustibles="http://www.sat.gob.mx/consumodecombustibles" targetNamespace="http://www.sat.gob.mx/consumodecombustibles" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ConsumoDeCombustibles">
		<xs:annotation>
			<xs:documentation>Complemento al Comprobante Fiscal Digital por Internet (CFDI) para integrar la información de consumo de combustibles por monedero electrónico.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Conceptos">
					<xs:annotation>
						<xs:documentation>Nodo requerido para enlistar los conceptos cubiertos por Consumo de Combustibles.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ConceptoConsumoDeCombustibles" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo requerido para la expresión de una transacción para operaciones de compra de combustibles.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Determinados">
											<xs:annotation>
												<xs:documentation>Nodo requerido para enlistar los impuestos determinados aplicables de combustibles.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Determinado" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo para la definición de información detallada de un impuesto específico</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="impuesto" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para definir el tipo de impuesto</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:whiteSpace value="collapse"/>
																		<xs:enumeration value="IVA">
																			<xs:annotation>
																				<xs:documentation>Impuesto al Valor Agregado</xs:documentation>
																			</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="IEPS">
																			<xs:annotation>
																				<xs:documentation>Impuesto especial sobre productos y servicios</xs:documentation>
																			</xs:annotation>
																		</xs:enumeration>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="tasa" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para señalar la tasa del impuesto por cada concepto amparado en el comprobante</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:fractionDigits value="2"/>
																		<xs:whiteSpace value="collapse"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="importe" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para definir el importe o monto del impuesto</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:fractionDigits value="2"/>
																		<xs:whiteSpace value="collapse"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="identificador" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para la expresión del identificador o número del monedero electrónico</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="fecha" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para la expresión de la Fecha y hora de expedición  de la operación reportada. Se expresa en la forma aaaa-mm-ddThh:mm:ss, de acuerdo con la especificación ISO 8601.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:dateTime">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="rfc" type="consumodecombustibles:t_RFC" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido del RFC del enajenante del combustible</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="claveEstacion" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido  para expresar la clave de cliente de la estación de servicio, a 10 caracteres, cuando sea requerido.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
												<xs:minLength value="1"/>
												<xs:maxLength value="10"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="cantidad" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para definir el volumen de combustible adquirido.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="nombreCombustible" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el nombre del combustible adquirido.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="folioOperacion" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para referir el número de folio de cada operación realizada por cada monedero electrónico.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:whiteSpace value="collapse"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="valorUnitario" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para definir el precio unitario del combustible adquirido.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:whiteSpace value="collapse"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="importe" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para definir el monto  total de consumo de combustible. Debe ser equivalente al resultado de multiplicar la cantidad por el valor unitario.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="2"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="1.0">
				<xs:annotation>
					<xs:documentation>Atributo requerido para la expresión de la versión del complemento</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="tipoOperacion" use="required" fixed="monedero electrónico">
				<xs:annotation>
					<xs:documentation>Atributo requerido para expresar el tipo de operación de acuerdo con el medio de pago.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="numeroDeCuenta" use="required">
				<xs:annotation>
					<xs:documentation>Nodo requerido para expresar el número de cuenta del adquirente del monedero electrónico</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="subTotal" use="optional">
				<xs:annotation>
					<xs:documentation>Atributo opcional para representar la suma de todos los importes tipo ConceptoConsumoDeCombustibles.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="total" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido para expresar el monto total de consumo de combustibles.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="t_RFC">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar claves del Registro Federal de Contribuyentes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="13"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
