src/main/resources/xsd/common/ComercioExterior/v11/ComercioExterior11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cce11="http://www.sat.gob.mx/ComercioExterior11" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catCFDI="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns:catComExt="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/ComExt" targetNamespace="http://www.sat.gob.mx/ComercioExterior11" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" schemaLocation="./../../catCFDI.xsd"/>
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" schemaLocation="./../../tdCFDI.xsd"/>
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/ComExt" schemaLocation="./../../catComExt.xsd"/>
  <xs:element name="ComercioExterior">
    <xs:annotation>
      <xs:documentation>Complemento para incorporar la información en el caso de Exportación de Mercancías en definitiva.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Emisor" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo opcional para capturar los datos complementarios del emisor del comprobante.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Domicilio"   minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nodo condicional para expresar el domicilio del emisor del comprobante, es requerido cuando el complemento se registre en un CFDI versión 3.3.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Calle" use="required" type="tdCFDI:t_Descrip100">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido sirve para precisar la calle en que está ubicado el domicilio del emisor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumeroExterior" use="optional" type="tdCFDI:t_NumeroDomicilio">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para expresar el número exterior en donde se ubica el domicilio del emisor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumeroInterior" use="optional" type="tdCFDI:t_NumeroDomicilio">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para expresar el número interior, en caso de existir, en donde se ubica el domicilio del emisor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Colonia" use="optional" type="catCFDI:c_Colonia">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para expresar la clave de la colonia en donde se ubica el domicilio del emisor del comprobante, conforme con el catálogo c_Colonia publicado en el portal del SAT en internet.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Localidad" use="optional" type="catCFDI:c_Localidad">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para precisar la clave de la ciudad, población, distrito u otro análogo en donde se ubica el domicilio del emisor del comprobante, conforme con el catálogo c_Localidad publicado en el portal del SAT en internet.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Referencia" use="optional" type="tdCFDI:t_Referencia">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional para expresar una referencia geográfica adicional que permita una más fácil o precisa ubicación del domicilio del emisor del comprobante, por ejemplo las coordenadas GPS.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Municipio" use="optional" type="catCFDI:c_Municipio">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para precisar la clave del municipio o delegación en donde se encuentra ubicado el domicilio del emisor del comprobante, conforme con el catálogo c_Municipio publicado en el portal del SAT en internet.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Estado" use="required" type="catCFDI:c_Estado">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para señalar la clave del estado en donde se encuentra ubicado el domicilio del emisor del comprobante, conforme con el catálogo c_Estado publicado en el portal del SAT en internet que está basado en la especificación ISO 3166-2.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Pais" use="required" type="catCFDI:c_Pais">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que sirve para precisar la clave del país donde se encuentra ubicado el domicilio del emisor del comprobante, conforme con el catálogo c_Pais publicado en el portal del SAT en internet que está basado en la especificación ISO 3166-1. Debe tener el valor MEX.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="CodigoPostal" use="required" type="catCFDI:c_CodigoPostal">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que sirve para asentar la clave del código postal en donde se encuentra ubicado el domicilio del emisor del comprobante, conforme con el catálogo c_CodigoPostal publicado en el portal del SAT en internet.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Curp" use="optional" type="tdCFDI:t_CURP">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar la CURP del emisor del CFDI cuando es una persona física.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Propietario" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Nodo condicional para capturar los datos del o los propietarios de la mercancía que se traslada y ésta no sea objeto de enajenación o siéndolo sea a título gratuito, cuando el emisor del CFDI es un tercero.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="NumRegIdTrib" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para incorporar el número de identificación o registro fiscal del país de residencia para efectos fiscales del propietario de la mercancía trasladada.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="6"/>
                  <xs:maxLength value="40"/>
                  <xs:whiteSpace value="collapse"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ResidenciaFiscal" use="required" type="catCFDI:c_Pais">
              <xs:annotation>
                <xs:documentation>Atributo requerido para registrar la clave del país de residencia para efectos fiscales del propietario de la mercancía, conforme con el catálogo c_Pais publicado en el portal del SAT en internet que está basado en la especificación ISO 3166-1.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Receptor" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo condicional para capturar los datos complementarios del receptor del CFDI.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Domicilio"   minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para expresar el domicilio del receptor del comprobante,  cuando el complemento se registre en un CFDI versión 3.3.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Calle" use="required" type="tdCFDI:t_Descrip100">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido sirve para precisar la calle en que está ubicado el domicilio del receptor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumeroExterior" use="optional" type="tdCFDI:t_NumeroDomicilio">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional sirve para expresar el número exterior en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumeroInterior" use="optional" type="tdCFDI:t_NumeroDomicilio">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional sirve para expresar el número interior, en caso de existir, en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Colonia" use="optional" type="tdCFDI:t_Descrip120">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional sirve para expresar la colonia o dato análogo en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Localidad" use="optional" type="tdCFDI:t_Descrip120">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para precisar la ciudad, población, distrito u otro análogo en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Referencia" use="optional" type="tdCFDI:t_Referencia">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional para expresar una referencia geográfica adicional que permita una más fácil o precisa ubicación del domicilio del receptor del comprobante, por ejemplo las coordenadas GPS.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Municipio" use="optional" type="tdCFDI:t_Descrip120">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para precisar el municipio, delegación, condado u otro análogo en donde se encuentra ubicado el domicilio del receptor del comprobante.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Estado" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para señalar el estado, entidad, región, comunidad u otra figura análoga en donde se encuentra ubicado el domicilio del receptor del comprobante. El catálogo se publica en el portal del SAT en internet y será conforme con la especificación ISO 3166-2.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="30"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,30}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Pais" use="required" type="catCFDI:c_Pais">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que sirve para precisar la clave del país donde se encuentra ubicado el domicilio del receptor del comprobante, conforme con el catálogo c_Pais publicado en el portal del SAT en internet que está basado en la especificación ISO 3166-1.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="CodigoPostal" use="required">
                  <xs:annotation>
                    <xs:documentation>Atributo requerido que sirve para asentar el código postal (PO, BOX) en donde se encuentra ubicado el domicilio del receptor del comprobante.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="12"/>
                      <xs:whiteSpace value="collapse"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
				  </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="NumRegIdTrib" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para incorporar el número de identificación o registro fiscal del país de residencia para efectos fiscales del receptor del CFDI.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="6"/>
                  <xs:maxLength value="40"/>
                  <xs:whiteSpace value="collapse"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Destinatario" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Nodo opcional para capturar los datos del destinatario de la mercancía cuando éste sea distinto del receptor del CFDI.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Domicilio"  maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para expresar el domicilio del destinatario de la mercancía.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Calle" use="required" type="tdCFDI:t_Descrip100">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido sirve para precisar la calle en que está ubicado el domicilio del destinatario de la mercancía.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumeroExterior" use="optional" type="tdCFDI:t_NumeroDomicilio">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional sirve para expresar el número exterior en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumeroInterior" use="optional" type="tdCFDI:t_NumeroDomicilio">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional sirve para expresar el número interior, en caso de existir, en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Colonia" use="optional" type="tdCFDI:t_Descrip120">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional sirve para expresar la colonia o dato análogo en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Localidad" use="optional" type="tdCFDI:t_Descrip120">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para precisar la ciudad, población, distrito u otro análogo en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Referencia" use="optional" type="tdCFDI:t_Referencia">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional para expresar una referencia geográfica adicional que permita una  fácil o precisa ubicación del domicilio del destinatario de la mercancía, por ejemplo las coordenadas GPS.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Municipio" use="optional" type="tdCFDI:t_Descrip120">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional que sirve para precisar el municipio, delegación, condado u otro análogo en donde se encuentra ubicado el destinatario de la mercancía.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Estado" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para señalar el estado, entidad, región, comunidad u otra figura análoga en donde se encuentra ubicado el domicilio del destinatario de la mercancía. El catálogo se publica en el portal del SAT en internet y es conforme con la especificación ISO 3166-2. </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="30"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,30}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Pais" use="required" type="catCFDI:c_Pais">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que sirve para precisar la clave del país donde se encuentra ubicado el destinatario de la mercancía, conforme con el catálogo c_Pais publicado en el portal del SAT en internet que está basado en la especificación ISO 3166-1.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="CodigoPostal" use="required">
                  <xs:annotation>
                    <xs:documentation>Atributo requerido que sirve para asentar el código postal (PO, BOX) en donde se encuentra ubicado el domicilio del destinatario de la mercancía.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1"/>
                      <xs:maxLength value="12"/>
                      <xs:whiteSpace value="collapse"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="NumRegIdTrib" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para incorporar el número de identificación o registro fiscal del país de residencia para efectos fiscales del destinatario de la mercancía exportada.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="6"/>
                  <xs:maxLength value="40"/>
                  <xs:whiteSpace value="collapse"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Nombre" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para expresar el nombre completo, denominación o razón social del destinatario de la mercancía exportada.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="300"/>
                  <xs:whiteSpace value="collapse"/>
                  <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,300}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Mercancias" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo condicional para capturar la información de la declaración de las mercancías exportadas.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Mercancia" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para capturar la información de la declaración de cada mercancía exportada.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DescripcionesEspecificas" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Nodo opcional que indica la lista de descripciones específicas de la mercancía. Una mercancía puede tener más de una descripción específica.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Marca" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido que indica la marca de la mercancía.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="35"/>
                              <xs:whiteSpace value="collapse"/>
                              <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,35}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Modelo" use="optional">
                          <xs:annotation>
                            <xs:documentation>Atributo opcional que indica el modelo de la mercancía.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:whiteSpace value="collapse"/>
                              <xs:minLength value="1"/>
                              <xs:maxLength value="80"/>
                              <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,80}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="SubModelo" use="optional">
                          <xs:annotation>
                            <xs:documentation>Atributo opcional que indica el submodelo de la mercancía.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:whiteSpace value="collapse"/>
                              <xs:minLength value="1"/>
                              <xs:maxLength value="50"/>
                              <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,50}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="NumeroSerie" use="optional">
                          <xs:annotation>
                            <xs:documentation>Atributo opcional que indica el número de serie de la mercancía.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:whiteSpace value="collapse"/>
                              <xs:minLength value="1"/>
                              <xs:maxLength value="40"/>
                              <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,40}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="NoIdentificacion" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que sirve para expresar el número de parte, la clave de identificación que asigna la empresa o el número de serie de la mercancía exportada.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,100}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="FraccionArancelaria" type="catComExt:c_FraccionArancelaria" use="optional">
                    <xs:annotation> 
                      <xs:documentation>Atributo condicional que sirve para expresar la clave de la fracción arancelaria correspondiente a la descripción de la mercancía exportada, este dato se vuelve requerido cuando se cuente con él o se esté obligado legalmente a contar con él.Debe ser conforme con el catálogo c_FraccionArancelaria publicado en el portal del SAT en internet.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="CantidadAduana" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional para precisar la cantidad de bienes en la aduana conforme a la UnidadAduana cuando en el nodo Comprobante:Conceptos:Concepto se hubiera registrado información comercial.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.001"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[0-9]{1,14}(.([0-9]{1,3}))?"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="UnidadAduana" type="catComExt:c_UnidadAduana" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para precisar la clave de la unidad de medida aplicable para la cantidad expresada en la mercancía en la aduana, conforme con el catálogo c_UnidadAduana publicado en el portal del SAT en internet.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ValorUnitarioAduana" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para precisar el valor o precio unitario del bien en la aduana. Se expresa en dólares de Estados Unidos (USD), el cual puede estar registrado hasta centésimas.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minInclusive value="0.00"/>
                        <xs:pattern value="[0-9]{1,16}(.([0-9]{1,2}))?"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ValorDolares" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que indica el valor total en dólares de Estados Unidos (USD).</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minInclusive value="0.00"/>
                        <xs:pattern value="[0-9]{1,16}(.([0-9]{1,2}))?"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" use="required" fixed="1.1">
        <xs:annotation>
          <xs:documentation>Atributo requerido que indica la versión del complemento.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="MotivoTraslado" use="optional" type="catComExt:c_MotivoTraslado">
        <xs:annotation>
          <xs:documentation>Atributo condicional que indica la clave del motivo por el cual en la exportación de mercancías en definitiva con clave de pedimento A1, éstas no son objeto de enajenación o siéndolo sean a título gratuito, desde el domicilio del emisor hacia el domicilio del receptor o del destinatario. La clave del motivo es conforme con el catálogo c_MotivoTraslado publicado en el portal del SAT en internet.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TipoOperacion" use="required" type="catComExt:c_TipoOperacion">
        <xs:annotation>
          <xs:documentation>Atributo requerido que indica la clave del tipo de operación de Comercio Exterior que se realiza, conforme con el catálogo c_TipoOperacion publicado en el portal del SAT en internet.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ClaveDePedimento" use="optional" type="catComExt:c_ClavePedimento">
        <xs:annotation>
          <xs:documentation>Atributo condicional que indica la clave de pedimento que se haya declarado conforme con el catálogo c_ClavePedimento publicado en el portal del SAT en internet.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CertificadoOrigen" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo condicional derivado de la excepción de certificados de Origen de los Tratados de Libre Comercio que ha celebrado México con diversos países. 0 = No Funge como certificado de origen 1 = Funge como certificado de origen.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NumCertificadoOrigen" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo condicional para expresar el folio del certificado de origen o el folio fiscal del CFDI con el que se pagó la expedición del certificado de origen.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="40"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}|([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){6,40}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NumeroExportadorConfiable" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo condicional que indica el número de exportador confiable, conforme al artículo 22 del Anexo 1 del Tratado de Libre Comercio con la Asociación Europea y a la Decisión de la Comunidad Europea.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
            <xs:pattern value="([A-Z]|[a-z]|[0-9]|Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,50}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Incoterm" use="optional" type="catComExt:c_INCOTERM">
        <xs:annotation>
          <xs:documentation>Atributo condicional que indica la clave del INCOTERM aplicable a la factura, conforme con el catálogo c_INCOTERM publicado en el portal del SAT en internet.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Subdivision" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo condicional que indica si la factura tiene o no subdivisión. Valores posibles: 0 - no tiene subdivisión,1 - si tiene subdivisión.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Observaciones" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo opcional en caso de ingresar alguna información adicional, como alguna leyenda que debe incluir en el CFDI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="300"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|>|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,300}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TipoCambioUSD" use="optional" type="tdCFDI:t_TipoCambio">
        <xs:annotation>
          <xs:documentation>Atributo condicional que indica el número de pesos mexicanos que equivalen a un dólar de Estados Unidos, de acuerdo al artículo 20 del Código Fiscal de la Federación.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TotalUSD" use="optional"  type="tdCFDI:t_Importe">
        <xs:annotation>
          <xs:documentation>Atributo condicional que indica el importe total del comprobante en dólares de Estados Unidos.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
