src/main/resources/xsd/common/spei/spei.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:spei="http://www.sat.gob.mx/spei" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/spei" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Complemento_SPEI">
		<xs:annotation>
			<xs:documentation>Complemento para el uso de SPEI Tercero a Tercero</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPEI_Tercero" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Estándar aplicable a operaciones de SPEI a terceros</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="Ordenante">
								<xs:annotation>
									<xs:documentation>Elemento para describir los datos del ordenante del SPEI</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="BancoEmisor" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el nombre del Banco o Institución Financiera emisora del SPEI</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nombre" use="required">
										<xs:annotation>
											<xs:documentation>Nombre de la persona física o moral que ordena el envío del pago. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="TipoCuenta" use="required">
										<xs:annotation>
											<xs:documentation>Categoría de la Cuenta a la que se efectuará el cargo por la transferencia electrónica de fondos. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Cuenta" use="required">
										<xs:annotation>
											<xs:documentation>Cuenta que deberá estar ligada al Tipo de Cuenta del Ordenante, donde serán cargados los fondos. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RFC" type="spei:tRFC" use="required">
										<xs:annotation>
											<xs:documentation>Corresponde al registro federal de contribuyentes o clave única de registro de población del ordenante. Se pondrá ND en caso de no tenerlo disponible</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Beneficiario">
								<xs:annotation>
									<xs:documentation>Elemento para describir los datos del beneficiario del SPEI</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="BancoReceptor" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el nombre del Banco o Institución Financiera Receptora del SPEI</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Nombre" use="required">
										<xs:annotation>
											<xs:documentation>Nombre de la persona física o moral receptora del pago. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="TipoCuenta" use="required">
										<xs:annotation>
											<xs:documentation>Categoría de la cuenta a la que se efectuará el abono por la transferencia electrónica de fondos. Consultar Catálogo de Tipos de Cuenta. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Cuenta" use="required">
										<xs:annotation>
											<xs:documentation>Esta cuenta deberá estar ligada al campo Tipo de Cuenta del Beneficiario, donde son abonados los fondos. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:totalDigits value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RFC" type="spei:tRFC" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para la expresión del registro federal de contribuyentes del beneficiario. Se pondrá ND en caso de no estar disponible</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Concepto" use="required">
										<xs:annotation>
											<xs:documentation>Descripción del motivo por el que el ordenante hace el pago al beneficiario. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="40"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="IVA">
										<xs:annotation>
											<xs:documentation>Importes de IVA correspondientes al pago. El monto debe ser mayor a cero y menor o igual a 9,999,999,999,999,999.99 </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="2"/>
												<xs:totalDigits value="19"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="MontoPago" use="required">
										<xs:annotation>
											<xs:documentation>Atributo obligatorio para la expresión del monto de la operación. Se trata de un entero positivo</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="1"/>
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="FechaOperacion" use="required">
							<xs:annotation>
								<xs:documentation>Fecha de operación con formato. Debe ser la misma que la fecha de operación del sistema. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:maxInclusive value="9999-12-31"/>
									<xs:minInclusive value="0001-01-01"/>
									<xs:pattern value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Hora" use="required">
							<xs:annotation>
								<xs:documentation>hora del acreditamiento</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:time">
									<xs:pattern value="(([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]+)?"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ClaveSPEI" use="required">
							<xs:annotation>
								<xs:documentation>Clave SPEI del Participante Emisor. </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="sello" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para contener el sello digital del comprobante de pago. El sello deberá ser expresado cómo una cadena de texto en formato Base 64.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="numeroCertificado" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para la identificación del certificado de seguridad utilizado para el sello digital.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="cadenaCDA" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene la información del CDA fidedigna que la institución ha enviado a Banco de México.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="841"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="tRFC">
		<xs:annotation>
			<xs:documentation>Tipo definido para la expresión de RFC's de contribuyentes. Cabe hacer la mención que debido a las reglas definidas por el estándar XML en el caso de que un RFC dado incluya un carácter ampersand, dicho carácter deberá ser expresado mediante la secuencia de escape especificado como parte del estándar. En la definición del tipo se expresa una longitud mínima y máxima, sin embargo la longitud puede ser redefinida como una extensión según se determina el uso particular</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="18"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
