src/main/resources/xsd/common/nomina/v12/nomina12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:nomina12="http://www.sat.gob.mx/nomina12" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catCFDI="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns:catNomina="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Nomina" targetNamespace="http://www.sat.gob.mx/nomina12" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" schemaLocation="./../../catCFDI.xsd"/>
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" schemaLocation="./../../tdCFDI.xsd"/>
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Nomina" schemaLocation="./../../catNomina.xsd"/>
  <xs:element name="Nomina">
    <xs:annotation>
      <xs:documentation>Complemento para incorporar al Comprobante Fiscal Digital por Internet (CFDI) la información que ampara conceptos de ingresos por salarios, la prestación de un servicio personal subordinado o conceptos asimilados a salarios (Nómina).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Emisor" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo condicional para expresar la información del contribuyente emisor del comprobante de nómina.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EntidadSNCF" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nodo condicional para que las entidades adheridas al Sistema Nacional de Coordinación Fiscal realicen la identificación del origen de los recursos utilizados en el pago de nómina del personal que presta o desempeña un servicio personal subordinado en las dependencias de la entidad federativa, del municipio o demarcación territorial de la Ciudad de México, así como en sus respectivos organismos autónomos y entidades paraestatales y paramunicipales</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="OrigenRecurso" use="required" type="catNomina:c_OrigenRecurso">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para identificar el origen del recurso utilizado para el pago de nómina del personal que presta o desempeña un servicio personal subordinado o asimilado a salarios en las dependencias.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MontoRecursoPropio" type="tdCFDI:t_ImporteMXN" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto del recurso pagado con cargo a sus participaciones u otros ingresos locales (importe bruto de los ingresos propios, es decir total de gravados y exentos), cuando el origen es mixto.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Curp" type="tdCFDI:t_CURP" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar la CURP del emisor del comprobante de nómina cuando es una persona física.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="RegistroPatronal" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el registro patronal, clave de ramo - pagaduría o la que le asigne la institución de seguridad social al patrón, a 20 posiciones máximo. Se debe ingresar cuando se cuente con él, o se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="20"/>
                  <xs:pattern value="([A-Z]|[a-z]|[0-9]|Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,20}"/>
                  <xs:whiteSpace value="collapse"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="RfcPatronOrigen" type="tdCFDI:t_RFC" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para expresar el RFC de la persona que fungió como patrón cuando el pago al trabajador se realice a través de un tercero como vehículo o herramienta de pago.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Receptor">
          <xs:annotation>
            <xs:documentation>Nodo requerido para precisar la información del contribuyente receptor del comprobante de nómina.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SubContratacion" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo condicional para expresar la lista de las personas que los subcontrataron.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="RfcLabora" type="tdCFDI:t_RFC" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el RFC de la persona que subcontrata.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="PorcentajeTiempo" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el porcentaje del tiempo que prestó sus servicios con el RFC que lo subcontrata.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.001"/>
                        <xs:maxInclusive value="100.000"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[0-9]{1,3}(.([0-9]{1,3}))?"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Curp" type="tdCFDI:t_CURP" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar la CURP del receptor del comprobante de nómina.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="NumSeguridadSocial" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el número de seguridad social del trabajador. Se debe ingresar cuando se cuente con él, o se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="15"/>
                  <xs:whiteSpace value="collapse"/>
                  <xs:pattern value="[0-9]{1,15}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="FechaInicioRelLaboral" type="tdCFDI:t_Fecha" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar la fecha de inicio de la relación laboral entre el empleador y el empleado. Se expresa en la forma aaaa-mm-dd, de acuerdo con la especificación ISO 8601. Se debe ingresar cuando se cuente con él, o se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Antigüedad" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el número de semanas o el periodo de años, meses y días que el empleado ha mantenido relación laboral con el empleador. Se debe ingresar cuando se cuente con él, o se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="collapse"/>
                  <xs:pattern value="P(([1-9][0-9]{0,3})|0)W|P([1-9][0-9]?Y)?(([1-9]|1[012])M)?(0|[1-9]|[12][0-9]|3[01])D"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="TipoContrato" use="required" type="catNomina:c_TipoContrato">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar el tipo de contrato que tiene el trabajador.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Sindicalizado" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para indicar si el trabajador está asociado a un sindicato. Si se omite se asume que no está asociado a algún sindicato.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="collapse"/>
                  <xs:enumeration value="Sí"/>
                  <xs:enumeration value="No"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="TipoJornada" use="optional" type="catNomina:c_TipoJornada">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el tipo de jornada que cubre el trabajador. Se debe ingresar cuando se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TipoRegimen" use="required" type="catNomina:c_TipoRegimen">
              <xs:annotation>
                <xs:documentation>Atributo requerido para la expresión de la clave del régimen por el cual se tiene contratado al trabajador.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="NumEmpleado" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar el número de empleado de 1 a 15 posiciones.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="15"/>
                  <xs:whiteSpace value="collapse"/>
                  <xs:pattern value="([A-Z]|[a-z]|[0-9]|Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,15}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Departamento" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para la expresión del departamento o área a la que pertenece el trabajador.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="100"/>
                  <xs:whiteSpace value="collapse"/>
                  <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,100}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Puesto" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para la expresión del puesto asignado al empleado o actividad que realiza.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="100"/>
                  <xs:whiteSpace value="collapse"/>
                  <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,100}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="RiesgoPuesto" use="optional" type="catNomina:c_RiesgoPuesto">
              <xs:annotation>
                <xs:documentation>Atributo opcional para expresar la clave conforme a la Clase en que deben inscribirse los patrones, de acuerdo con las actividades que desempeñan sus trabajadores, según lo previsto en el artículo 196 del Reglamento en Materia de Afiliación Clasificación de Empresas, Recaudación y Fiscalización, o conforme con la normatividad del Instituto de Seguridad Social del trabajador.  Se debe ingresar cuando se cuente con él, o se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="PeriodicidadPago" use="required" type="catNomina:c_PeriodicidadPago">
              <xs:annotation>
                <xs:documentation>Atributo requerido para la forma en que se establece el pago del salario.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Banco" use="optional" type="catNomina:c_Banco">
              <xs:annotation>
                <xs:documentation>Atributo condicional para la expresión de la clave del Banco conforme al catálogo, donde se realiza el depósito de nómina.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="CuentaBancaria" type="tdCFDI:t_CuentaBancaria" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para la expresión de la cuenta bancaria a 11 posiciones o número de teléfono celular a 10 posiciones o número de tarjeta de crédito, débito o servicios a 15 ó 16 posiciones o la CLABE a 18 posiciones o número de monedero electrónico, donde se realiza el depósito de nómina.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="SalarioBaseCotApor" type="tdCFDI:t_ImporteMXN" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para expresar la retribución otorgada al trabajador, que se integra por los pagos hechos en efectivo por cuota diaria, gratificaciones, percepciones, alimentación, habitación, primas, comisiones, prestaciones en especie y cualquiera otra cantidad o prestación que se entregue al trabajador por su trabajo, sin considerar los conceptos que se excluyen de conformidad con el Artículo 27 de la Ley del Seguro Social, o la integración de los pagos conforme la normatividad del Instituto de Seguridad Social del trabajador. (Se emplea para pagar las cuotas y aportaciones de Seguridad Social). Se debe ingresar cuando se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="SalarioDiarioIntegrado" type="tdCFDI:t_ImporteMXN" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo opcional para expresar el salario que se integra con los pagos hechos en efectivo por cuota diaria, gratificaciones, percepciones, habitación, primas, comisiones, prestaciones en especie y cualquier otra cantidad o prestación que se entregue al trabajador por su trabajo, de conformidad con el Art. 84 de la Ley Federal del Trabajo. (Se utiliza para el cálculo de las indemnizaciones). Se debe ingresar cuando se esté obligado conforme a otras disposiciones distintas a las fiscales.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ClaveEntFed" use="required" type="catCFDI:c_Estado">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar la clave de la entidad federativa en donde el receptor del recibo prestó el servicio.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Percepciones" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo condicional para expresar las percepciones aplicables.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Percepcion" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para expresar la información detallada de una percepción</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AccionesOTitulos" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Nodo condicional para expresar ingresos por acciones o títulos valor que representan bienes. Se vuelve requerido cuando existan ingresos por sueldos derivados de adquisición de acciones o títulos (Art. 94, fracción VII LISR).</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="ValorMercado" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el valor de mercado de las Acciones o Títulos valor al ejercer la opción.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="6"/>
                              <xs:minInclusive value="0.000001"/>
                              <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="PrecioAlOtorgarse" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el precio establecido al otorgarse la opción de ingresos en acciones o títulos valor.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:fractionDigits value="6"/>
                              <xs:minInclusive value="0.000001"/>
                              <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="HorasExtra" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Nodo condicional para expresar las horas extra aplicables.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Dias" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el número de días en que el trabajador realizó horas extra en el periodo.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                              <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="TipoHoras" use="required" type="catNomina:c_TipoHoras">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el tipo de pago de las horas extra.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="HorasExtra" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el número de horas extra trabajadas en el periodo.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:int">
                              <xs:minInclusive value="1"/>
                              <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ImportePagado" type="tdCFDI:t_ImporteMXN" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el importe pagado por las horas extra.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="TipoPercepcion" use="required" type="catNomina:c_TipoPercepcion">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar la Clave agrupadora bajo la cual se clasifica la percepción.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Clave" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar la clave de percepción de nómina propia de la contabilidad de cada patrón, puede conformarse desde 3 hasta 15 caracteres.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="15"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]|Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){3,15}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Concepto" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la descripción del concepto de percepción</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,100}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ImporteGravado" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido, representa el importe gravado de un concepto de percepción.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ImporteExento" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido, representa el importe exento de un concepto de percepción.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="JubilacionPensionRetiro" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nodo condicional para expresar la información detallada de pagos por jubilación, pensiones o haberes de retiro.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="TotalUnaExhibicion" type="tdCFDI:t_ImporteMXN" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional que indica el monto total del pago cuando se realiza en una sola exhibición.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="TotalParcialidad" type="tdCFDI:t_ImporteMXN" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar los ingresos totales por pago cuando se hace en parcialidades.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MontoDiario" type="tdCFDI:t_ImporteMXN" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto diario percibido por jubilación, pensiones o haberes de retiro cuando se realiza en parcialidades.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="IngresoAcumulable" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar los ingresos acumulables.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="IngresoNoAcumulable" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar los ingresos no acumulables.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="SeparacionIndemnizacion" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Nodo condicional para expresar la información detallada de otros pagos por separación.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="TotalPagado" type="tdCFDI:t_ImporteMXN"
										use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que indica el monto total del pago.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumAñosServicio" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el número de años de servicio del trabajador. Se redondea al entero superior si la cifra contiene años y meses y hay más de 6 meses.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="99"/>
                        <xs:whiteSpace value="collapse"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="UltimoSueldoMensOrd" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que indica el último sueldo mensual ordinario.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="IngresoAcumulable" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar los ingresos acumulables.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="IngresoNoAcumulable" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido que indica los ingresos no acumulables.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="TotalSueldos" type="tdCFDI:t_ImporteMXN" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el total de percepciones brutas (gravadas y exentas) por sueldos y salarios y conceptos asimilados a salarios.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TotalSeparacionIndemnizacion" type="tdCFDI:t_ImporteMXN" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el importe exento y gravado de las claves tipo percepción 022 Prima por Antigüedad, 023 Pagos por separación y 025 Indemnizaciones.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TotalJubilacionPensionRetiro" type="tdCFDI:t_ImporteMXN" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el importe exento y gravado de las claves tipo percepción 039 Jubilaciones, pensiones o haberes de retiro en una exhibición y 044 Jubilaciones, pensiones o haberes de retiro en parcialidades.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TotalGravado" type="tdCFDI:t_ImporteMXN" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar el total de percepciones gravadas que se relacionan en el comprobante.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TotalExento" type="tdCFDI:t_ImporteMXN" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar el total de percepciones exentas que se relacionan en el comprobante.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Deducciones" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo opcional para expresar las deducciones aplicables.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Deduccion" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para expresar la información detallada de una deducción.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="TipoDeduccion" use="required" type="catNomina:c_TipoDeduccion">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para registrar la clave agrupadora que clasifica la deducción.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Clave" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la clave de deducción de nómina propia de la contabilidad de cada patrón, puede conformarse desde 3 hasta 15 caracteres.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="15"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]|Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){3,15}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Concepto" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la descripción del concepto de deducción.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,100}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Importe" type="tdCFDI:t_ImporteMXN" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para registrar el importe del concepto de deducción.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="TotalOtrasDeducciones" type="tdCFDI:t_ImporteMXN" use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el total de deducciones que se relacionan en el comprobante, donde la clave de tipo de deducción sea distinta a la 002 correspondiente a ISR.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TotalImpuestosRetenidos" type="tdCFDI:t_ImporteMXN"
							use="optional">
              <xs:annotation>
                <xs:documentation>Atributo condicional para expresar el total de los impuestos federales retenidos, es decir, donde la clave de tipo de deducción sea 002 correspondiente a ISR.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="OtrosPagos" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo condicional para expresar otros pagos aplicables.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OtroPago" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para expresar la información detallada del otro pago.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SubsidioAlEmpleo" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Nodo requerido para expresar la información referente al subsidio al empleo del trabajador.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="SubsidioCausado" type="tdCFDI:t_ImporteMXN" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el subsidio causado conforme a la tabla del subsidio para el empleo publicada en el Anexo 8 de la RMF vigente.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CompensacionSaldosAFavor" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Nodo condicional para expresar la información referente a la compensación de saldos a favor de un trabajador.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="SaldoAFavor" type="tdCFDI:t_ImporteMXN" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el saldo a favor determinado por el patrón al trabajador en periodos o ejercicios anteriores.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Año" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el año en que se determinó el saldo a favor del trabajador por el patrón que se incluye en el campo “RemanenteSalFav”.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:short">
                              <xs:minInclusive value="2016"/>
                              <xs:whiteSpace value="collapse"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="RemanenteSalFav" type="tdCFDI:t_ImporteMXN" use="required">
                          <xs:annotation>
                            <xs:documentation>Atributo requerido para expresar el remanente del saldo a favor del trabajador.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="TipoOtroPago" use="required" type="catNomina:c_TipoOtroPago">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar la clave agrupadora bajo la cual se clasifica el otro pago.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Clave" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido, representa la clave de otro pago de nómina propia de la contabilidad de cada patrón, puede conformarse desde 3 hasta 15 caracteres.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="15"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]|Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){3,15}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Concepto" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la descripción del concepto de otro pago.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|&apos;|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,100}" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Importe" type="tdCFDI:t_ImporteMXN"
										use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el importe del concepto de otro pago.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Incapacidades" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Nodo condicional para expresar información de las incapacidades.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Incapacidad" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para expresar información de las incapacidades.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="DiasIncapacidad" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el número de días enteros que el trabajador se incapacitó en el periodo.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:whiteSpace value="collapse"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="TipoIncapacidad" use="required" type="catNomina:c_TipoIncapacidad">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar la razón de la incapacidad.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ImporteMonetario" type="tdCFDI:t_ImporteMXN" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto del importe monetario de la incapacidad.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" type="xs:string" use="required" fixed="1.2">
        <xs:annotation>
          <xs:documentation>Atributo requerido para la expresión de la versión del complemento.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TipoNomina" use="required" type="catNomina:c_TipoNomina">
        <xs:annotation>
          <xs:documentation>Atributo requerido para indicar el tipo de nómina, puede ser O= Nómina ordinaria o E= Nómina extraordinaria.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FechaPago" type="tdCFDI:t_Fecha" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para la expresión de la fecha efectiva de erogación del gasto. Se expresa en la forma aaaa-mm-dd, de acuerdo con la especificación ISO 8601.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FechaInicialPago" type="tdCFDI:t_Fecha" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para la expresión de la fecha inicial del período de pago. Se expresa en la forma aaaa-mm-dd, de acuerdo con la especificación ISO 8601.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FechaFinalPago" type="tdCFDI:t_Fecha" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para la expresión de la fecha final del período de pago. Se expresa en la forma aaaa-mm-dd, de acuerdo con la especificación ISO 8601.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="NumDiasPagados" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para la expresión del número o la fracción de días pagados.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.001"/>
            <xs:maxInclusive value="36160.000"/>
            <xs:fractionDigits value="3"/>
            <xs:pattern value="(([1-9][0-9]{0,4})|[0])(.[0-9]{3})?"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TotalPercepciones" type="tdCFDI:t_ImporteMXN" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo condicional para representar la suma de las percepciones.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TotalDeducciones" type="tdCFDI:t_ImporteMXN" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo condicional para representar la suma de las deducciones aplicables.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TotalOtrosPagos" type="tdCFDI:t_ImporteMXN" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo condicional para representar la suma de otros pagos.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
