src/main/resources/xsd/common/ecc/v11/ecc11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecc11="http://www.sat.gob.mx/EstadoDeCuentaCombustible"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.sat.gob.mx/EstadoDeCuentaCombustible"
elementFormDefault="qualified"
attributeFormDefault="unqualified">
  <xs:element name="EstadoDeCuentaCombustible">
    <xs:annotation>
      <xs:documentation>Complemento para el Comprobante Fiscal Digital por Internet (CFDI) para integrar la información aplicable al estado de cuenta emitido por un prestador de servicios de monedero electrónico</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Conceptos">
          <xs:annotation>
            <xs:documentation>Nodo requerido para enlistar los conceptos cubiertos por Estado de Cuenta de Combustible.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConceptoEstadoDeCuentaCombustible" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para la expresión de una transacción a ser reportada en el estado de cuenta del proveedor de monedero electrónico para operaciones de compra de combustibles.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Traslados">
                      <xs:annotation>
                        <xs:documentation>Nodo requerido para enlistar los impuestos trasladados aplicables de combustibles.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Traslado" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Nodo para la definición de información detallada de un traslado de impuesto específico</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="Impuesto" use="required">
                                <xs:annotation>
                                  <xs:documentation>Atributo requerido para definir el tipo de impuesto trasladado.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:enumeration value="IVA">
                                      <xs:annotation>
                                        <xs:documentation>Impuesto al Valor Agregado</xs:documentation>
                                      </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="IEPS">
                                      <xs:annotation>
                                        <xs:documentation>Impuesto especial sobre productos y servicios</xs:documentation>
                                      </xs:annotation>
                                    </xs:enumeration>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="TasaoCuota" use="required">
                                <xs:annotation>
                                  <xs:documentation>Atributo requerido para señalar la tasa o la cuota del impuesto que se traslada por cada concepto amparado en el comprobante. Cuando se registre un porcentaje, por ejemplo 16%, debe expresarse como 0.16 y no como 16.00</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="6"/>
                                    <xs:whiteSpace value="collapse"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Importe" use="required">
                                <xs:annotation>
                                  <xs:documentation>Atributo requerido para definir el importe o monto del impuesto trasladado.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="2"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:minInclusive value="0.01"/>
                                    <xs:pattern value="[0-9]{1,14}(.([0-9]{1,2}))"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Identificador" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la expresión del identificador o número del monedero electrónico.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:whiteSpace value="collapse"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Fecha" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para la expresión de la Fecha y hora de expedición de la operación reportada. Se expresa en la forma aaaa-mm-ddThh:mm:ss, de acuerdo con la especificación ISO 8601.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:dateTime">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minInclusive value="2015-01-01T00:00:00"/>
                        <xs:pattern value="([0-9]{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Rfc" use="required" type="ecc11:t_RFC">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido del RFC del enajenante del combustible.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ClaveEstacion" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar la clave de cliente de la estación de servicio, a 10 caracteres.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="1"/>
                        <xs:maxLength value="10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="TAR" type="ecc11:c_TAR" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar la clave de la Terminal de Almacenamiento y Reparto (CVE TAR), conforme al catálogo publicado en la página de Internet del SAT,  mismo que servirá para identificar la cuota por litro conforme a las tablas que publique la Secretaría de Hacienda y Crédito Público para determinar el monto del estímulo fiscal.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Cantidad" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para definir el volumen de combustible adquirido.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.001"/>
                        <xs:fractionDigits value="3"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[0-9]{1,14}(.([0-9]{1,3}))"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="NoIdentificacion" type="ecc11:c_claveProducto" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para indicar la clave del producto del combustible.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Unidad" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para precisar la unidad de medida.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="1"/>
                        <xs:maxLength value="25"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="NombreCombustible" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el nombre del combustible adquirido.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="1"/>
                        <xs:maxLength value="300"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="FolioOperacion" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para referir el número de folio de cada operación realizada por cada monedero electrónico.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:whiteSpace value="collapse"/>
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ValorUnitario" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para definir el precio unitario del combustible adquirido.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.001"/>
                        <xs:fractionDigits value="3"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[0-9]{1,14}(.([0-9]{1,3}))"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Importe" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para definir el monto total de consumo de combustible. Debe ser equivalente al resultado de multiplicar la cantidad por el valor unitario, redondeado a centésimas.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[0-9]{1,14}(.([0-9]{1,2}))"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" use="required" fixed="1.1">
        <xs:annotation>
          <xs:documentation>Atributo requerido que indica la versión del complemento.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TipoOperacion" use="required" fixed="Tarjeta">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar el tipo de operación de acuerdo con el medio de pago.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NumeroDeCuenta" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar el número de cuenta del adquirente del monedero electrónico</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SubTotal" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para representar la suma de todos los importes tipo ConceptoEstadoDeCuentaCombustible.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{1,14}(.([0-9]{1,2}))"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Total" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar el monto total de consumo de combustible.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[0-9]{1,14}(.([0-9]{1,2}))"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="c_TAR">
    <xs:annotation>
      <xs:documentation>Catálogo Terminal de Almacenamiento y Reparto</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="617"/>
      <xs:enumeration value="619"/>
      <xs:enumeration value="624"/>
      <xs:enumeration value="652"/>
      <xs:enumeration value="654"/>
      <xs:enumeration value="655"/>
      <xs:enumeration value="656"/>
      <xs:enumeration value="658"/>
      <xs:enumeration value="659"/>
      <xs:enumeration value="660"/>
      <xs:enumeration value="661"/>
      <xs:enumeration value="667"/>
      <xs:enumeration value="693"/>
      <xs:enumeration value="602"/>
      <xs:enumeration value="603"/>
      <xs:enumeration value="604"/>
      <xs:enumeration value="605"/>
      <xs:enumeration value="606"/>
      <xs:enumeration value="607"/>
      <xs:enumeration value="608"/>
      <xs:enumeration value="609"/>
      <xs:enumeration value="611"/>
      <xs:enumeration value="612"/>
      <xs:enumeration value="613"/>
      <xs:enumeration value="614"/>
      <xs:enumeration value="615"/>
      <xs:enumeration value="620"/>
      <xs:enumeration value="621"/>
      <xs:enumeration value="622"/>
      <xs:enumeration value="623"/>
      <xs:enumeration value="625"/>
      <xs:enumeration value="657"/>
      <xs:enumeration value="664"/>
      <xs:enumeration value="665"/>
      <xs:enumeration value="666"/>
      <xs:enumeration value="669"/>
      <xs:enumeration value="695"/>
      <xs:enumeration value="696"/>
      <xs:enumeration value="697"/>
      <xs:enumeration value="699"/>
      <xs:enumeration value="627"/>
      <xs:enumeration value="628"/>
      <xs:enumeration value="629"/>
      <xs:enumeration value="630"/>
      <xs:enumeration value="631"/>
      <xs:enumeration value="632"/>
      <xs:enumeration value="633"/>
      <xs:enumeration value="636"/>
      <xs:enumeration value="637"/>
      <xs:enumeration value="638"/>
      <xs:enumeration value="639"/>
      <xs:enumeration value="640"/>
      <xs:enumeration value="641"/>
      <xs:enumeration value="644"/>
      <xs:enumeration value="645"/>
      <xs:enumeration value="646"/>
      <xs:enumeration value="647"/>
      <xs:enumeration value="648"/>
      <xs:enumeration value="649"/>
      <xs:enumeration value="650"/>
      <xs:enumeration value="663"/>
      <xs:enumeration value="668"/>
      <xs:enumeration value="672"/>
      <xs:enumeration value="673"/>
      <xs:enumeration value="674"/>
      <xs:enumeration value="675"/>
      <xs:enumeration value="676"/>
      <xs:enumeration value="677"/>
      <xs:enumeration value="678"/>
      <xs:enumeration value="681"/>
      <xs:enumeration value="682"/>
      <xs:enumeration value="683"/>
      <xs:enumeration value="684"/>
      <xs:enumeration value="685"/>
      <xs:enumeration value="688"/>
      <xs:enumeration value="689"/>
      <xs:enumeration value="690"/>
      <xs:enumeration value="698"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="c_claveProducto">
    <xs:annotation>
      <xs:documentation>Clave del producto</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="32011"/>
      <xs:enumeration value="32012"/>
      <xs:enumeration value="34006"/>
      <xs:enumeration value="34008"/>
      <xs:enumeration value="Otros"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t_RFC">
    <xs:annotation>
      <xs:documentation>Tipo definido para expresar claves del Registro Federal de Contribuyentes</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="12"/>
      <xs:maxLength value="13"/>
      <xs:whiteSpace value="collapse"/>
      <xs:pattern value="[A-Z&amp;Ñ]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
