src/main/resources/xsd/common/notariospublicos/notariospublicos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:notariospublicos="http://www.sat.gob.mx/notariospublicos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/notariospublicos" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="NotariosPublicos">
		<xs:annotation>
			<xs:documentation>Complemento al Comprobante Fiscal Digital a través de Internet (CFDI) para el manejo de la enajenación de bienes inmuebles o servidumbres de paso con indemnización o contraprestación en una sola exhibición.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DescInmuebles">
					<xs:annotation>
						<xs:documentation>Nodo que contiene las descripciones  del inmueble o inmuebles objeto del acto otorgado.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DescInmueble" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo para describir el inmueble o inmuebles objeto del acto otorgado.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="TipoInmueble" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para la expresión del tipo de inmueble enajenado o sujeto a servidumbre (sirviente) conforme al catálogo publicado en el portal del SAT en internet.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[0-9]{2}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Calle" use="required">
										<xs:annotation>
											<xs:documentation>Este atributo requerido sirve para precisar la avenida, calle, camino o carretera donde se ubica el inmueble</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="150"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NoExterior" use="optional">
										<xs:annotation>
											<xs:documentation>Este atributo opcional sirve para expresar el número particular en donde se da la ubicación del inmueble en una calle dada.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="55"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NoInterior" use="optional">
										<xs:annotation>
											<xs:documentation>Este atributo opcional sirve para expresar información adicional para especificar la ubicación cuando calle y número exterior (noExterior) no resulten suficientes para determinar la ubicación precisa del inmueble.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Colonia" use="optional">
										<xs:annotation>
											<xs:documentation>Este atributo opcional sirve para precisar la colonia en donde se da la ubicación del inmueble cuando se desea ser más específico en casos de ubicaciones urbanas.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Localidad" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para precisar la ciudad o población donde se da la ubicación del inmueble</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Referencia" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para expresar una referencia adicional de ubicación del inmueble.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Municipio" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar el municipio o delegación (en el caso del Distrito Federal) en donde se da la ubicación del inmueble</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Estado" type="notariospublicos:t_EntidadFederativa" use="required">
										<xs:annotation>
											<xs:documentation>Entidad Federativa donde se ubica el inmueble conforme al catálogo publicado en el portal del SAT en internet.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Pais" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar el país donde se da la ubicación, conforme al catálogo publicado en el portal del SAT en internet. En caso de servidumbres de paso, siempre será México.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[A-Z,Ñ]{3}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="CodigoPostal" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para asentar el código postal en donde se da la ubicación del inmueble.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[0-9]{5}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DatosOperacion">
					<xs:annotation>
						<xs:documentation>Nodo para definir los detalles de la operación.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="NumInstrumentoNotarial" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido que indica el número del instrumento Notarial donde consta la operación </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="999999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="FechaInstNotarial" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido  que indica la fecha de firma del instrumento Notarial </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="MontoOperacion" type="notariospublicos:t_Importe" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar el monto de la contraprestación, indemnización o valor de la operación.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Subtotal" type="notariospublicos:t_Importe" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar el subtotal de la contraprestación, indemnización o su valor en la operación </xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="IVA" type="notariospublicos:t_Importe" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar el IVA de la contraprestación, indemnización o su valor en la operación </xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="DatosNotario">
					<xs:complexType>
						<xs:attribute name="CURP" type="notariospublicos:t_CURP" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar la CURP del notario</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="NumNotaria" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para indicar el número de la Notaria que realizar la operación.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="999"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="EntidadFederativa" type="notariospublicos:t_EntidadFederativa" use="required">
							<xs:annotation>
								<xs:documentation>Entidad Federativa donde se ubica la Notaria conforme al catálogo publicado en el portal del SAT en internet.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Adscripcion" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo opcional que expresa el señalamiento del notario a la plaza a la que se encuentra adscrito</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="DatosEnajenante">
					<xs:annotation>
						<xs:documentation>Nodo para capturar los datos del enajenante o enajenantes, o en el caso de servidumbres de paso del propietario o poseedores o propietarios o poseedores del predio sirviente.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="DatosUnEnajenante" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo para capturar los datos del enajenante o del propietario o poseedor del predio sirviente en caso de ser solo uno.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Nombre" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el nombre del enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="254"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ApellidoPaterno" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido  para expresar el apellido paterno del enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ApellidoMaterno" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para expresar el apellido materno del enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RFC" type="notariospublicos:t_RFC" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para la Clave del Registro Federal de Contribuyentes sin guiones o espacios, del enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CURP" type="notariospublicos:t_CURP" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar la CURP del enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DatosEnajenantesCopSC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo para capturar los datos de los enajenantes o de los propietarios o poseedores tratándose de servidumbres de paso, en caso de Copropiedad o Sociedad Conyugal</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DatosEnajenanteCopSC" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo para capturar los datos de un enajenante o de los propietarios o poseedores tratándose de servidumbres de paso, en caso de Copropiedad o Sociedad Conyugal</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Nombre" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para expresar el nombre (s) de cada enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="254"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ApellidoPaterno" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para expresar el apellido paterno de cada enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ApellidoMaterno" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para expresar el apellido materno de cada enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="RFC" type="notariospublicos:t_RFC" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para la Clave del Registro Federal de Contribuyentes sin guiones o espacios, correspondiente a cada enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="CURP" type="notariospublicos:t_CURP" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para expresar la CURP de cada enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Porcentaje" use="required">
													<xs:annotation>
														<xs:documentation>Porcentaje que le corresponde en la copropiedad a cada enajenante o del propietario o poseedor del predio sirviente, en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0.00"/>
															<xs:maxInclusive value="100.00"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="CoproSocConyugalE" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido que expresa si  es copropiedad o sociedad conyugal</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Si"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="DatosAdquiriente">
					<xs:annotation>
						<xs:documentation>Nodo para capturar los datos del adquiriente, adquirientes o propietario, o propietarios o poseedores, en caso de servidumbres de paso.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="DatosUnAdquiriente" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo para capturar los datos del adquiriente o del propietario o poseedor en caso de ser solo uno.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Nombre" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el nombre, denominación o razón social del adquiriente o del propietario o poseedor del bien dominante o del pagador de la indemnización o contraprestación en el caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="254"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ApellidoPaterno" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para expresar el apellido paterno del adquiriente o del propietario o poseedor del bien dominante o del pagador de la indemnización o contraprestación en el caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ApellidoMaterno" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para expresar el apellido materno del adquiriente o del propietario o poseedor del bien dominante o del pagador de la indemnización o contraprestación en el caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="200"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="RFC" type="notariospublicos:t_RFC" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para la Clave del Registro Federal de Contribuyentes sin guiones o espacios, del adquiriente o del propietario o poseedor del bien dominante o del pagador de la indemnización o contraprestación en el caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CURP" type="notariospublicos:t_CURP" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para expresar la CURP del adquiriente o del propietario o poseedor del bien dominante o del pagador de la indemnización o contraprestación en el caso de servidumbres de paso.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="DatosAdquirientesCopSC" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo para capturar los datos de los adquirientes o propietarios o poseedores del bien dominante en caso de Copropiedad o Sociedad Conyugal</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DatosAdquirienteCopSC" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo para capturar los datos de un adquiriente o de un propietario o poseedor en caso de Copropiedad o Sociedad Conyugal</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Nombre" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para expresar el nombre, denominación o razón social de cada adquiriente o de cada propietario o poseedor en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="254"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ApellidoPaterno" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para expresar el apellido paterno de cada adquiriente o de cada propietario o poseedor en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ApellidoMaterno" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para expresar el apellido materno de cada adquirientes o de cada propietario o poseedor en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="200"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="RFC" type="notariospublicos:t_RFC" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido para la Clave del Registro Federal de Contribuyentes sin guiones o espacios, correspondiente a cada adquiriente o de cada propietario o poseedor en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="CURP" type="notariospublicos:t_CURP" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional para expresar la CURP de cada adquiriente o de cada propietario o poseedor en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="Porcentaje" use="required">
													<xs:annotation>
														<xs:documentation>Porcentaje que le corresponde en la copropiedad a cada adquiriente o de cada propietario o poseedor en caso de servidumbres de paso.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:minInclusive value="0.00"/>
															<xs:maxInclusive value="100.00"/>
															<xs:fractionDigits value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="CoproSocConyugalE" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido que expresa si  es copropiedad o sociedad conyugal</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Si"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" type="xs:string" use="required" fixed="1.0">
				<xs:annotation>
					<xs:documentation>Atributo requerido para la expresión de la versión del complemento</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="t_Importe">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar importes numéricos con fracción hasta seis decimales</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="6"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_RFC">
		<xs:annotation>
			<xs:documentation>Tipo definido para expresar claves del Registro Federal de Contribuyentes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="13"/>
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_CURP">
		<xs:annotation>
			<xs:documentation>Tipo definido para la expresión de una CURP</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:length value="18"/>
			<xs:pattern value="[A-Z][A,E,I,O,U,X][A-Z]{2}[0-9]{2}[0-1][0-9][0-3][0-9][M,H][A-Z]{2}[B,C,D,F,G,H,J,K,L,M,N,Ñ,P,Q,R,S,T,V,W,X,Y,Z]{3}[0-9,A-Z][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="t_EntidadFederativa">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="32"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
